{{#each blogs as |blog|}}


   <div class="jumbotron" data-id="{{blog.id}}">
     <h3>{{blog.title}}</h3>
     <p>{{blog.content}}</p>
     <footer>{{blog.author}}</footer>

     <!-- Button trigger modal -->
     <!-- Update button -->
     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mod{{blog.id}}" id="update-button">
       Update!
     </button>

     <!-- Modal -->
     <div class="modal kapat" id="mod{{blog.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-header" id="myModalLabel">Update!</h4>
           </div>
           <div class="modal-body">
             <form class="submit-blog-update" data-id="{{blog.id}}">
                 <input type="text" name="blog[title]" value="{{blog.title}}" class="clean-update">
                 <textarea type="text" name="blog[content]" class="clean-update">{{blog.content}}</textarea>
                <input type="text" name="blog[author]" value="{{blog.author}}">
                 <input type="submit" data-id="{{blog.id}}" name="submit">
             </form>
             <div class="warning-update-data">

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

<!--remove blog button  -->
     <button type="button" name="button" class="btn btn-default" data-id="{{blog.id}}" id="delete-button">Remove</button>
   </div>

{{/each}}
