{{#each blogs as |blog|}}


   <div class="card card-1" data-id="{{blog.id}}">
     <h3>{{blog.title}}</h3>
     <p>{{blog.content}}</p>
     <footer>{{blog.author}}</footer>
     <p>{{blog.updatedAt}}</p>
   </div>

{{/each}}
