{{#each pages as |page|}}

   <div class="page-card card-1" data-id="{{page.id}}">
     <h3>  Title: {{page.header}}</h3>
     <pre>{{page.body}}</pre>
     <div class="page-footer">
       <footer>{{page.footer}}</footer>
     </div>

     <!-- Button trigger modal -->


     <!-- Modal -->
     <div class="modal kapat" id="mod{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-header" id="myModalLabel">Update!</h4>
           </div>
           <div class="modal-body">
             <form class="submit-update" data-id="{{page.id}}">
                 <input type="text" name="page[header]" value="{{page.header}}" class="clean-update">
                 <textarea type="text" name="page[body]" class="clean-update">{{page.body}}</textarea>
                 <input type="text" name="page[footer]" value="{{page.footer}}" placeholder="Enter Footer">
                 <input type="submit" data-id="{{page.id}}" name="submit">

             </form>


             <div class="warning-update-data">

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>
     <div class="page-card-btn">
       <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mod{{page.id}}">
         Update!
       </button>
       <button type="button" name="button" class="btn btn-default remove" data-id="{{page.id}}">Remove</button>
       <button type="button" name="button" class="btn btn-default shows-page" data-id="{{page.id}}">Show</button>
     </div>



   </div>

{{/each}}
