{{#each pages as |page|}}


   <div class="jumbotron" data-id="{{page.id}}">
     <h3>{{page.header}}</h3>
     <p>{{page.body}}</p>
     <footer>{{page.footer}}</footer>

     <!-- Button trigger modal -->
     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mod{{page.id}}">
       Update!
     </button>

     <!-- Modal -->
     <div class="modal kapat" id="mod{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-header" id="myModalLabel">Update!</h4>
           </div>
           <div class="modal-body">
             <form class="submit-update" data-id="{{page.id}}">
                 <input type="text" name="page[header]" value="{{page.header}}" class="clean-update">
                 <textarea type="text" name="page[body]" class="clean-update">{{page.body}}</textarea>
                 <input type="text" name="page[footer]" placeholder="Enter Footer">
                 <input type="submit" data-id="{{page.id}}" name="submit">
             </form>
             <div class="warning-update-data">

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>


     <button type="button" name="button" class="btn btn-default remove" data-id="{{page.id}}">Remove</button>
   </div>

{{/each}}
