<div class="jumbotron" data-id="{{blog.id}}">
  <h3>Blog</h3>
  <p>{{blog.title}}</p>
  <h3>content</h3>
  <p>{{blog.header}}</p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mod{{blog.id}}">
    Update Blog!
  </button>

  <!-- Modal -->
  <div class="modal kapat" id="mod{{blog.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-title">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update!</h4>
        </div>
        <div class="modal-body">
          <form class="submit-update" data-id="{{blog.id}}">
              <input type="text" name="blog[title]" value="{{blog.title}}" class="clean-update">
              <input type="text" name="blog[body]" value="{{blog.header}}" class="clean-update">
              <input type="submit" name="submit">
          </form>
          <div class="warning-update-data">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <button type="button" name="button" class="btn btn-default remove" data-id="{{blog.id}}">Remove</button>
</div>
